<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

  

    <h1>{{ title }}</h1>

   
  </div>

 <h1 *ngIf="verif else msgFalse">Bonjour  {{nom}} </h1>
 <ng-template #msgFalse>Hello World!</ng-template>
 <span > {{verif ? "vrai" : "faux"}} </span>


 <br>
 <div  *ngIf="nb==1 ; then vrai;else faux"></div>
 <ng-template #vrai> <button >Login</button></ng-template>
 <ng-template #faux><button > logout</button> </ng-template>

</div>

<table>
  
<tr *ngFor="let etu of etudiants; let i=index; let e=even;let o=odd; let f=first;let l=last "  >
  <td> {{i+1}} </td>
  <td > {{etu.nom}} </td>
  <td> {{etu.prenom}} </td>
  <td> {{etu.age}} </td>
</tr>

</table>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

